:root {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 16px;
}

body {
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(225, 225, 225);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h1,
h2 {
	font-weight: 600;
	padding: 0.5rem;
}

a {
	padding: 0.5rem;
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.navCart a {
	padding: 0;
	background-color: unset;
}

.navBar {
	background-color: cyan;
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
	user-select: none;
}

.navPages {
	display: flex;
	width: 40rem;
	align-items: center;
	justify-content: space-between;
}

.navCart {
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	width: 15rem;
	align-items: center;
	padding: 0.5rem;
}

img {
	display: block;
	height: 1.2rem;
	width: 1.2rem;
}

.cartIcon,
.itemsCount,
.itemsTotalPrice {
	padding: 2px;
}

.cartItems {
	display: flex;
	align-items: flex-end;
}

.itemsCount {
	font-size: 0.8rem;
	color: red;
}

.cart {
	display: flex;
	padding: 0.5rem;
	box-sizing: border-box;
	position: absolute;
	height: calc(100% - 5rem);
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: right;
	width: 20%;
}

.close {
	position: absolute;
	right: 1rem;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.productMenu {
	display: flex;
	position: sticky;
	top: 5rem;
	flex-direction: column;
	height: fit-content;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	width: fit-content;
	white-space: nowrap;
}

.catalogPage {
	display: grid;
	margin: 1rem;
	width: 100%;
	grid-template-columns: repeat(4, auto);
	justify-content: space-evenly;
}

.quantityControls {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 1rem;
}

.decrementBtn,
.incrementBtn {
	height: 2rem;
	width: 3rem;
	font-weight: 600;
	border: 1px solid black;
	border-radius: 5px;
}

.decrementBtn {
	background-color: red;
	font-size: 1.1rem;
}

.incrementBtn {
	background-color: green;
	font-size: 1.2rem;
}

.itemQuantity {
	width: 5rem;
	font-size: 1rem;
}

.productCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20rem;
	background-color: white;
	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;
}

.productPreview {
	display: block;
	margin: 2rem auto 3rem auto;
	height: 8rem;
	width: 8rem;
	transition: transform linear 0.3s;
}

.productPreview:not(:hover) {
	transition: transform linear 0.1s;
}

.productPreview:hover {
	transform: scale(1.6);
}

.productInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	min-height: 12rem;
	margin: 0.5rem;
	line-height: 1.2rem;
}

.productInfo div {
	display: flex;
	flex-direction: column;
}

.productInfo div div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.productName {
	font-size: 1.2rem;
	justify-content: center;
	margin: 0.5rem 1rem;
	line-height: 1.5rem;
}

.productPrice {
	margin: 1rem;
}

.productDetails {
	font-size: 0.8rem;
	margin: 0.5rem 1rem;
	color: rgb(50, 150, 200);
	padding: 0 5px;
	border: 1px solid red;
	border-radius: 5px;
}

.productDetails:hover {
	color: red;
	cursor: pointer;
}

.detailsModal,
.detailsCard {
	justify-content: center;
	align-items: center;
	position: absolute;
}

.detailsModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.gallery img {
	height: 500px;
	width: 500px;
}

.detailsCard {
	height: 200px;
	width: 200px;
}

@media (max-width: 1760px) {
	.catalogPage {
		display: grid;
		margin: 1rem;
		width: 100%;
		grid-template-columns: repeat(3, auto);
		justify-content: space-evenly;
	}
}

@media (max-width: 1370px) {
	.catalogPage {
		display: grid;
		margin: 1rem;
		width: 100%;
		grid-template-columns: repeat(2, auto);
		justify-content: space-evenly;
	}
}
